.overlay {
  backdrop-filter: blur(10px);
  z-index: 999;
  animation: fadeIn 0.3s ease forwards;
}

.creating__link {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 700px;
  width: 510px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  border-bottom: 1px solid rgba(154, 154, 154, 0.5);
  border-radius: 16px;
  background-color: #fff;
  font-family: "Helvetica Neue Cyr";
}

/* ==============================================
   |                  HEADER                |
   ============================================== */

.creating__link__header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid rgba(154, 154, 154, 0.5);
  gap: 10px;
}

.header__svg {
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__title {
  font-weight: 700;
  font-size: 24px;
}

/* ==============================================
   |                  MAIN                |
   ============================================== */

.creating__link__main {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-left: 65px;
  padding-right: 65px;
}

.link__input {
  width: 100%;
  margin-bottom: 20px;
  gap: 8px;
}

.input {
  height: 35px;
  padding-top: 0;
  padding-bottom: 0;
  width: 100%;
  border: 1px solid rgba(154, 154, 154, 0.5);
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  color: rgba(154, 154, 154, 0.5);
}

.png {
  padding-left: 30px;
}

.input__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  gap: 8px;
}

.input__icon {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
}

.input__icon-right {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  border-left: 1px solid rgba(154, 154, 154, 0.5);
}

.svg__infinity {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border: 1px solid rgba(154, 154, 154, 0.5);
  border-radius: 50%;
}

.link__input-title {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: left;
}

.link__functional {
  position: relative;
  width: 380px;
  border: 1px solid #000;
  border-radius: 6px;
}

.link__functional-title {
  position: absolute;
  top: -23px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0em;
  padding-left: 6px;
  padding-right: 6px;
  color: rgba(0, 0, 0, 1);
  background-color: #fff;
}

.link__functional-item {
  display: flex;
  align-items: center;
  position: relative;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid rgba(154, 154, 154, 0.5)
}

.TEST {
  clear: both;
  display: block;
}

.functional__item-title {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0em;
  padding-right: 10px;
}

.functional__item-faq {
  display: flex;
  align-items: center;
}

.toggle__switch {
  position: absolute;
  bottom: 25%;
  right: 0;
  transform: translateX(-50%);
}

/* ==============================================
   |                  FOOTER                |
   ============================================== */

.creating__link__footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  border-top: 1px solid rgba(154, 154, 154, 0.5);
}

.create__link__button {
  width: 382px;
  height: 39px;
  background: #000000;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}
