.no__login__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  font-weight: 600;
  font-size: 14px;
  border-bottom: 1px solid #dddddd;
}

.prices__button {
padding: 5px 10px;
cursor: pointer;


}

.no__login__header__right {
  display: flex;
  align-items: center;
  gap: 30px;
  
}

.login {
  color: grey;
}

.registration__button {
  display: flex;
  padding: 5px 15px;
  background: #000000;
  border: 0;
  border-radius: 10px;
  color: #ffffff;
  line-height: 28px;
  cursor: pointer;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}