.error-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    padding: 0 10%;
  }
  
  .error-code {
    font-size: 8rem;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .error-message {
    font-size: 2rem;
    text-align: center;
    margin-top: 0;
  }

  